*{
    font-size: 1em;!important;
}
.ul_active{z-index:20;}
.nav_topTotal_active{z-index:21;}
.download{
    width: 100%;
    margin: auto;
    padding-top:6%;
    overflow: hidden;
}
.down-left{
    width:33.3%;
    text-align: center;
    float: left;
    position:relative;
    z-index:10;
}
.down-text{
    padding-top:10%;
    margin-top: 0;
    border: 1px solid #A1A1A1;
}
.down-text-1{
    color: #525252;
    font-size:32px;
    font-weight: bolder;
}
.down-text-2，.down-text-3，.down-text-4{
    color:#6f6f6f;
}
.down-text-2{
    margin-top:28px;
}
p{
    margin: 18px 0;
}
.down-text-btn{
    width:30%;
    height: 43px;
    background:#5690cf;
    color: white;
    margin:28px auto;
    line-height: 43px;
    border-radius: 5px;
    cursor: pointer;
}
.down-img{
    width:100%;
    margin: auto;
}
.down-img>img{
    display: block;
    width: 100%;
    height: 100%;
}
.phone{
    display: none;
}