<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APK download</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="../css/index.css" />-->
    <link rel="stylesheet" href="css/jquery.fullPage.css" />
    <!--自适应引入css-->
    <link rel="stylesheet" media="screen and (max-width:767px)" href="css/productxs.css" />
    <link rel="stylesheet" media="screen and (min-width:767px) and (max-width:992px)" href="css/productsm.css" />
    <link rel="stylesheet" media="screen and (min-width:992px) and (max-width:1200px)" href="css/productmd.css" />
    <link rel="stylesheet" media="screen and (min-width:1200px)" href="css/productlg.css" />
    <link rel="stylesheet" media="screen and (max-width:767px)" href="css/downloadxs.css" />
    <link rel="stylesheet" media="screen and (min-width:767px) and (max-width:992px)" href="css/downloadsm.css" />
    <link rel="stylesheet" media="screen and (min-width:992px) and (max-width:1200px)" href="css/downloadmd.css" />
    <link rel="stylesheet" media="screen and (min-width:1200px)" href="css/downloadlg.css" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <title>index</title>
    <style>
        /*@font-face{font-family:"newfont";src:url("../font/icon1.ttf");}*/
        *{margin:0;padding:0;font-family:"微软雅黑";}
        li{list-style:none;}
        h1 {display: block;margin: 0;}
        a{text-decoration:none;color:inherit;}
    </style>
</head>
<body>
<div id="fullpage">
    <!--ONE PAGE=====================-->
    <div class="section" id="first">
        <header id="nav">
            <div class="nav_topTotal nav_topTotal_before">
                <div class="nav_topTotalTxt"></div>
                <div class="backclick">
                    <img src="img/page1/guanbi.png" class="page1_back page1_back_before" />
                </div>
            </div>
            <ul class="ul_before">
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Product Scheme</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li>
                    <img src="img/page1/nav_03.png" />
                    <a href="download.html">APK download</a>
                </li>
                <li class="clear"></li>
            </ul>
            <!--<div class="translateButton">中文</div>-->
            <img src="img/page1/icon.png" class="inco inco_before" />
            <img src="img/page1/ftv_logo.png" class="page1_font" style="width:4.43%;" />
        </header>
        <div class="download">
            <div class="down-left">
               <div class="down-img down-img-phone">
                   <img src="img/download/for_phone.png" alt="">
               </div>
               <div class="down-text">
                   <p class="down-text-1">F.TV for phone</p>
                   <p class="down-text-2">Ｖersion：2.8.4</p>
                   <p class="down-text-3">Adaptation：Android 4.0 & later</p>
                   <p class="down-text-4">Update time：2017-09-14</p>
                   <div class="down-text-btn">
                       <a href="http://F.TV-release-v2.8.4-mid.apk">Download</a>
                   </div>
               </div>
           </div>
            <div class="down-left bigbox">
                <div class="down-img down-img-pad">
                    <img src="img/download/for_pad.png" alt="">
                </div>
                <div class="down-text" style="border-left: none;border-right: none;">
                    <p class="down-text-1">F.TV for pad</p>
                    <p class="down-text-2">Ｖersion：2.8.4</p>
                    <p class="down-text-3">Adaptation：Android 4.0 & later</p>
                    <p class="down-text-4">Update time：2017-09-14</p>
                    <div class="down-text-btn">
                        <a href="http://F.TV-release-v2.8.4-mid.apk">Download</a>
                    </div>
                </div>
            </div>
            <div class="down-left bigbox">
                <div class="down-img down-img-phone">
                    <img src="img/download/for_tv.png" alt="">
                </div>
                <div class="down-text">
                    <p class="down-text-1">F.TV for TV</p>
                    <p class="down-text-2">Ｖersion：1.0.562</p>
                    <p class="down-text-3">Adaptation：Android 4.0 & later</p>
                    <p class="down-text-4">Update time：2017-09-14</p>
                    <div class="down-text-btn">
                        <a href="http://familytv.co/Family_TV_v1.0.562.apk">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="section bigbox fp-auto-height">
        <div class="wrapper">
            <img src="img/footer/footer_02.png" class="footertotal" />
        </div>
    </footer>
    <div class="section phone" id="second">
        <div class="download">
            <div class="down-left">
                <div class="down-img down-img-pad">
                    <img src="img/download/for_pad.png" alt="">
                </div>
                <div class="down-text" style="border-left: none;border-right: none;">
                    <p class="down-text-1">F.TV for pad</p>
                    <p class="down-text-2">Ｖersion：2.8.4</p>
                    <p class="down-text-3">Adaptation：Android 4.0 & later</p>
                    <p class="down-text-4">Update time：2017-09-14</p>
                    <div class="down-text-btn">
                        <a href="http://F.TV-release-v2.8.4-mid.apk">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section phone" id="third">
        <div class="download">
            <div class="down-left">
                <div class="down-img down-img-phone">
                    <img src="img/download/for_tv.png" alt="">
                </div>
                <div class="down-text">
                    <p class="down-text-1">F.TV for TV</p>
                    <p class="down-text-2">Ｖersion：1.0.562</p>
                    <p class="down-text-3">Adaptation：Android 4.0 & later</p>
                    <p class="down-text-4">Update time：2017-09-14</p>
                    <div class="down-text-btn">
                        <a href="http://familytv.co/Family_TV_v1.0.562.apk">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="section phone fp-auto-height">
        <div class="wrapper">
            <img src="img/footer/footer_02.png" class="footertotal" />
        </div>
    </footer>

</div>
<script type="text/javascript" src="js/less.js"></script>
<script type="text/javascript">

    /*fullPage应用-----------------------*/
    $(function(){
        $("#fullpage").fullpage({
            "verticalCentered":true,
            "css3":true,
            "sectionsColor":["",""],//背景色#5690cf
            anchors:["","","",""],//锚
            "navigation":false,//是否有小点
            "navigationPosition":"right",//小点的位置
            "$navHeight":96
        });
    });

</script>
</body>
</html>