<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="../css/index.css" />-->
    <link rel="stylesheet" href="css/jquery.fullPage.css" />
    <!--自适应引入css-->
        <link rel="stylesheet" media="screen and (max-width:767px)" href="css/productxs.css" />
        <link rel="stylesheet" media="screen and (min-width:767px) and (max-width:992px)" href="css/productsm.css" />
        <link rel="stylesheet" media="screen and (min-width:992px) and (max-width:1200px)" href="css/productmd.css" />
    <link rel="stylesheet" media="screen and (min-width:1200px)" href="css/productlg.css" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <title>index</title>
    <style>
        /*@font-face{font-family:"newfont";src:url("../font/icon1.ttf");}*/
        *{margin:0;padding:0;font-family:"微软雅黑";}
        li{list-style:none;}
        h1,p {display: block;margin: 0;}
        a{text-decoration:none;color:inherit;}
    </style>
</head>
<body>
<div id="fullpage">
    <!--ONE PAGE=====================-->
    <div class="section" id="first">
        <header id="nav">
            <div class="nav_topTotal nav_topTotal_before">
                <div class="nav_topTotalTxt"></div>
                <div class="backclick">
                    <img src="img/page1/guanbi.png" class="page1_back page1_back_before" />
                </div>
            </div>
            <ul class="ul_before">
                <li><a href="index.html">Home</a></li>
                <li>
                    <img src="img/page1/nav_03.png" />
                    <a href="product.html">Product Scheme</a>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="download.html">APK download</a></li>
                <li class="clear"></li>
            </ul>
            <!--<div class="translateButton">中文</div>-->
            <img src="img/page1/icon.png" class="inco inco_before" />
            <img src="img/page1/ftv_logo.png" class="page1_font" style="width:4.43%;" />
        </header>
        <div class="psNav_top">
            <div class="psNav_topCon">
                <span>Overview</span>
                <img src="img/programlist/goto.png" class="psnav_goto" />
            </div>
        </div>
        <div class="ps_center">
            <div class="psc_left psc_leftBefore">
                <div class="ps_navTop">
                    <div class="ps_navTopPush">
                        <img src="img/programlist/fanhui.png" class="ps_back" />
                    </div>

                </div>
                <ul class="ps_nav">
                    <li class="ps_navTactive ps_navH" style="color:#5690cf;">
                        <img src="img/product/highlight.png"/>
                        <span>Overview</span>
                        <img src="img/product/down.png" class="nav_godown nav_goupActive" />
                        <img src="img/product/on.png" class="nav_goup nav_goupBefore" />
                    </li>
                    <li class="ps_threeNavO ps_threeNavBefore">IPTV Delivery</li>
                    <li class="ps_threeNavO ps_threeNavBeforeSm ps_threeNavBefore">OTT Delivery</li>
                    <li class="ps_threeNavO ps_threeNavBefore">Our  Features</li>
                    <li class="ps_navH">
                        <img src="img/product/normal.png"/>
                        <span>Function</span>
                        <img src="img/product/down.png" class="nav_godown nav_goupActive" />
                        <img src="img/product/on.png" class="nav_goup nav_goupBefore" />
                    </li>
                    <li class="ps_threeNavTwo ps_threeNavBefore">OTT Platform</li>
                    <li class="ps_threeNavTwo ps_threeNavBefore">Our Advantage</li>
                    <li class="ps_navH">
                        <img src="img/product/normal.png"/>
                        <span>Architecture</span>
                        <img src="img/product/down.png" class="nav_godown nav_goupActive" />
                        <img src="img/product/on.png" class="nav_goup nav_goupBefore" />
                    </li>
                    <li class="ps_threeNavTH ps_threeNavBefore">End to End Solution</li>
                    <li class="ps_threeNavTH ps_threeNavBefore">Architectur of Family TV IPTV System</li>
                    <li class="ps_navH">
                        <img src="img/product/normal.png"/>
                        <span>Performance</span>
                        <img src="img/product/down.png" class="nav_godown nav_goupActive" />
                        <img src="img/product/on.png" class="nav_goup nav_goupBefore" />
                    </li>
                    <li class="ps_threeNavFO ps_threeNavBefore">Program View</li>
                    <li class="ps_threeNavFO ps_threeNavBefore">Comparison Test</li>
                </ul>
            </div>
            <div class="psc_rightTotal">
                <div class="psc_overviewOne">
                    <div class="psc_overOnet productShow">
                        <header>IPTV Delivery</header>
                        <section>
                            <aside class="psc-overOnetl"><img src="img/product/iptv.png" /></aside>
                            <aside class="psc-overOnetr">IPTV is the method of distributing content over a fully managed network. The protocol used in streaming the content is Internet Protocol, hence the name Internet Protocol Television. Though Internet Protocol is used, it is only a private internet and cannot be accessible externally. The video contents are distributed over the private network and can be accessible by only those devices given by operators.</aside>

                        </section>
                    </div>
                    <div class="psc_overOnetb">
                        <header>OTT Delivery</header>
                        <section>
                            <aside class="psc-overOnetbl"><img src="img/product/ott.png" /></aside>
                            <aside class="psc-overOnetbr">In contrast, OTT involves distributing content over the internet which can be accessible publicly. Any devices such as smartphones, tabs and smart tvs which has access to the internet can operate the OTT video stream in addition to the standard set top boxes. So the contents or video streams can be accessible whenever and wherever according to the user’s desire.</aside>

                        </section>
                    </div>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton"><span>NEXT</span><img src="img/product/jiantou.png" /></div>
                    </footer>
                </div>
                <div class="psc_overviewTwo">
                    <header>Our Features</header>
                    <section class="psc_overviewTwoC">
                        <table>
                            <tr class="psc_overviewTwoCRow">
                                <td class="psc_overviewTwoCColumnO">
                                    <span><img src="img/product/house_533px_1143434_easyicon.net.png" /></span>
                                    Custom CDN
                                </td>
                                <td class="psc_overviewTwoCColumnT">
                                    <span><img src="img/product/link_369px_1187486_easyicon.net.png" /></span>
                                    Custom URL
                                </td>
                                <td class="psc_overviewTwoCColumnThree">
                                    <span><img src="img/product/server_1310px_1202804_easyicon.net.png" /></span>
                                    Custom Origin Server
                                </td>
                            </tr>
                            <tr class="psc_overviewTwoCRow">
                                <td class="psc_overviewTwoCColumnO">
                                    <span><img src="img/product/computer_694px_1196180_easyicon.net.png" /></span>
                                    Stream Monitoring
                                </td>
                                <td class="psc_overviewTwoCColumnT">
                                    <span><img src="img/product/infinite_1491px_1195880_easyicon.net1.png" /></span>
                                    BW Monitoring
                                </td>
                                <td class="psc_overviewTwoCColumnThree">
                                    <span><img src="img/product/video_play_1122px_1196680_easyicon.net.png" /></span>
                                    DVR
                                </td>
                            </tr>
                            <tr class="psc_overviewTwoCRow">
                                <td class="psc_overviewTwoCColumnO">
                                    <span><img src="img/product/cycle_586px_1157728_easyicon.net.png" /></span>
                                    Time Shift
                                </td>
                                <td class="psc_overviewTwoCColumnT">
                                    <span><img src="img/product/Online_Support_176px_1190934_easyicon.net.png" /></span>
                                    Dedicated Support
                                </td>
                                <td class="psc_overviewTwoCColumnThree">
                                    <span><img src="img/product/gear_1066px_1153746_easyicon.net.png" /></span>
                                    Custom MRSS
                                </td>
                            </tr>
                            <tr class="psc_overviewTwoCRow">
                                <td class="psc_overviewTwoCColumnO">
                                    <span><img src="img/product/security_checked_512px_1169941_easyicon.net.png" /></span>
                                    Security streaming
                                </td>
                                <td class="psc_overviewTwoCColumnT">
                                    <span><img src="img/product/multiple_input_512px_1168485_easyicon.net.png" /></span>
                                    Multiple Device Support
                                </td>
                                <td class="psc_overviewTwoCColumnThree">
                                    <span><img src="img/product/menu_540px_1201153_easyicon.net.png" /></span>
                                    Multiple Protocol delivery
                                </td>
                            </tr>
                        </table>
                    </section>
                    <footer class="psc_blast">
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_functionOne">
                    <header>OTT Platform</header>
                    <section class="psc_functionOneC">
                        <table>
                            <tr class="psc_functionOneCRow">
                                <td class="psc_functionOneCColumnO">
                                    <div class="psc_functionOneCColumnOL">
                                        <img src="img/product/TV_690px_1183346_easyicon.net1.png" />
                                    </div>
                                    <div class="psc_functionOneCColumnOR">
                                        <p>Live TV</p>
                                        <p>Management and monitoring</p>
                                    </div>
                                </td>
                                <td class="psc_functionOneCColumnT">
                                    <div class="psc_functionOneCColumnTL">
                                        <img src="img/product/Play_801px_1183387_easyicon.net1.png" />
                                    </div>
                                    <div class="psc_functionOneCColumnTR">
                                        <p>Video on Demand</p>
                                        <p>Manage VOD content, prices, covers, trailers and detailed information.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="psc_functionOneCRow">
                                <td class="psc_functionOneCColumnO">
                                    <div class="psc_functionOneCColumnOL">
                                        <img src="img/product/Tools_800px_1183364_easyicon.net1.png" />
                                    </div>
                                    <div class="psc_functionOneCColumnOR">
                                        <p>Catchup TV</p>
                                        <p>Full automatization and workflow management.</p>
                                    </div>
                                </td>
                                <td class="psc_functionOneCColumnT">
                                    <div class="psc_functionOneCColumnTL">
                                        <img src="img/product/Updating_800px_1183366_easyicon.net1.png" />
                                    </div>
                                    <div class="psc_functionOneCColumnTR">
                                        <p>Transcoding</p>
                                        <p>Automated transcoding in cloud with different profiles and bitrate.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="psc_functionOneCRow">
                                <td class="psc_functionOneCColumnO">
                                    <div class="psc_functionOneCColumnOL">
                                        <img src="img/product/Cloud_801px_1183372_easyicon.net1.png" />
                                    </div>
                                    <div class="psc_functionOneCColumnOR">
                                        <p>EPG</p>
                                        <p>Management, manual or automated EPG import from Cloud.</p>
                                    </div>
                                </td>
                                <td class="psc_functionOneCColumnT">
                                    <div class="psc_functionOneCColumnTL">
                                        <img src="img/product/Diamond_800px_1183363_easyicon.net1.png" />
                                    </div>
                                    <div class="psc_functionOneCColumnTR">
                                        <p>Billing</p>
                                        <p>Packages, Subscription periods with traditional or pre-paid subscribers.</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </section>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton">
                            <img src="img/product/jiantou.png" />
                            <span>NEXT</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_functionTwo">
                    <header>Our advantage</header>
                    <section class="psc_functionTwoC">
                        <section class="psc_functionTwoCT">
                            <div class="psc_functionTwoCLT">Unique content  delivery network  (CDN)</div>
                            <div class="psc_functionTwoCLB">Flexible approach to the needs of client infrastructure</div>
                            <div class="psc_functionTwoCRT">Optimisation of network capacity without compromising video quality</div>
                            <div class="psc_functionTwoCRB">Real-time monitoring</div>
                            <img src="img/product/gongneng1.png" class="psc_functionTwoCImg" />
                        </section>

                    </section>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton">
                            <img src="img/product/jiantou.png" />
                            <span>NEXT</span>
                        </div>
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_functionThree">
                    <header>Our advantage</header>
                    <section class="psc_functionThreeC">
                        <div class="psc_functionThreeCT">
                            <img src="img/product/ditu.png" />
                        </div>
                        <div class="psc_functionThreeCB">
                            <div class="psc_functionThreeCBC">
                                <article class="psc_functionThreeCBO">
                                    <header>Adaptive HTTP Streaming</header>
                                    <section>This technology lets adapt video quality both inside and outside operator's network (i.e. in third party networks wherequality of data streaming and network  capacity can't be controlled or  managed).</section>

                                </article>
                                <article class="psc_functionThreeCBT">
                                    <header>CDN</header>
                                    <section>CDN is a link that connects data transmission system and client  devices and applications.</section>

                                </article>
                                <article class="psc_functionThreeCBTh" >
                                    <header>More Intelligent</header>
                                    <section>Depending on user's location Smart Routing Engine routes  the user to the best located  server.</section>

                                </article>
                            </div>
                        </div>
                    </section>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton">
                            <img src="img/product/jiantou.png" />
                            <span>NEXT</span>
                        </div>
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_functionFour">
                    <header>Our advantage</header>
                    <section class="psc_functionFourC">
                        <div class="psc_functionFourCL">
                            <img src="img/product/gongneng2.png" />
                        </div>
                        <div class="psc_functionFourCR">
                            <div class="psc_functionFourCRTextTotal">
                                <div class="psc_functionFourCRTextRow">
                                    <section class="psc_functionFourCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFourCRText">Video ultra-compressiontechnology</section>
                                </div>
                                <div class="psc_functionFourCRTextRow">
                                    <section class="psc_functionFourCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFourCRText">Our compression technology stands out for its unique efficiency.</section>
                                </div>
                                <div class="psc_functionFourCRTextRow">
                                    <section class="psc_functionFourCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFourCRText">Our OTT solution uses different encoding profiles and therefore is available on various devices.</section>
                                </div>
                                <div class="psc_functionFourCRTextRow">
                                    <section class="psc_functionFourCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFourCRText">Network capacity requirements depend on the type of client's device and are within the following range: 0.3 — 0.7 Mbps for  SD and 1.5 — 3 Mbps for HD.</section>
                                </div>
                                <div class="psc_functionFourCRTextRow">
                                    <section class="psc_functionFourCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFourCRText">Technology developed by LifeStream has an immense potential  and may be deployed extensively: TV streaming on mobile devices,  OTT, nPVR and user generated content.</section>
                                </div>

                            </div>
                        </div>
                    </section>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton">
                            <img src="img/product/jiantou.png" />
                            <span>NEXT</span>
                        </div>
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_functionFive">
                    <header>Our advantage</header>
                    <section class="psc_functionFiveC">
                        <div class="psc_functionFiveCL">
                            <img src="img/product/gongneng2.png" />
                        </div>
                        <div class="psc_functionFiveCR">
                            <div class="psc_functionFiveCRTextTotal">
                                <div class="psc_functionFiveCRTextRow">
                                    <section class="psc_functionFiveCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFiveCRText">Dynamic and flexible approach</section>
                                </div>
                                <div class="psc_functionFiveCRTextRow">
                                    <section class="psc_functionFiveCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFiveCRText">Our solution represents a unique balance between quality standard(meeting all the requirements of the largest telecom operators) and individual approach to every project.</section>
                                </div>
                                <div class="psc_functionFiveCRTextRow">
                                    <section class="psc_functionFiveCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFiveCRText">We can also provide recommendations with detailed track record and project description.</section>
                                </div>
                                <div class="psc_functionFiveCRTextRow">
                                    <section class="psc_functionFiveCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFiveCRText">We are happy to provide recommendations from companies we are currently working with to demonstrate again efficiency of our approach.</section>
                                </div>
                                <div class="psc_functionFiveCRTextRow">
                                <section class="psc_functionFiveCRImgTotal">
                                    <img src="img/product/gongneng3.png" />
                                </section>
                                <section class="psc_functionFiveCRText">Scalable solutions with reliability margin.</section>
                            </div>
                                <div class="psc_functionFiveCRTextRow psc_functionFiveCRTextLast">
                                    <section class="psc_functionFiveCRImgTotal">
                                        <img src="img/product/gongneng3.png" />
                                    </section>
                                    <section class="psc_functionFiveCRText">Our company and solutions we design stand out thanks to their scalable nature and reliability margin, which is proven by project we implemented for clients servicing large audiences in 11 time zones.</section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="psc_blast">
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_architectureOne">
                    <header>End to End Solution</header>
                    <section class="psc_architectureOneC">
                        <div class="psc_architectureOneCT">
                            <img src="img/product/jiagou2.png" />
                            <div class="psc_architectureOneCTC">
                                <div class="psc_architectureOneCTCRows">
                                    <p><span></span></p>
                                    <p>Content management</p>
                                </div>
                                <div class="psc_architectureOneCTCRows">
                                    <p><span></span></p>
                                    <p>User management</p>
                                </div>
                                <div class="psc_architectureOneCTCRows">
                                    <p><span></span></p>
                                    <p>Service management</p>
                                </div>
                                <div class="psc_architectureOneCTCRows">
                                    <p><span></span></p>
                                    <p>Billing center</p>
                                </div>
                                <div class="psc_architectureOneCTCRows">
                                    <p><span></span></p>
                                    <p>Monitoring</p>
                                </div>
                            </div>
                        </div>
                        <div class="psc_architectureOneCB">
                            <div class="psc_architectureOneCBC">
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>IP</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>TV</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>PC</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>Satellite</p>
                                </div>
                                <div class="psc_architectureOneCBCRow psc_architectureOneCBCLast">
                                    <p><span class="psc_architectureOneCBCNoneSpan"></span></p>
                                    <p>......</p>
                                </div>
                            </div>
                            <div class="psc_architectureOneCBC">
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>MPEG4</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>MPEG2</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>H.264</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>H.265</p>
                                </div>
                                <div class="psc_architectureOneCBCRow psc_architectureOneCBCLast">
                                    <p><span class="psc_architectureOneCBCNoneSpan"></span></p>
                                    <p>......</p>
                                </div>
                            </div>
                            <div class="psc_architectureOneCBC">
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>MPEG4</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>MPEG2</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>H.264</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>H.265</p>
                                </div>
                                <div class="psc_architectureOneCBCRow psc_architectureOneCBCLast">
                                    <p><span class="psc_architectureOneCBCNoneSpan"></span></p>
                                    <p>......</p>
                                </div>
                            </div>
                            <div class="psc_architectureOneCBC">
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>RTMP</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>RTSP</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>HLS</p>
                                </div>
                                <div class="psc_architectureOneCBCRow psc_architectureOneCBCLast">
                                    <p><span></span></p>
                                    <p>......</p>
                                </div>
                            </div>
                            <div class="psc_architectureOneCBC">
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>STB</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>PC</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>Mobile</p>
                                </div>
                                <div class="psc_architectureOneCBCRow">
                                    <p><span></span></p>
                                    <p>Phone</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton">
                            <img src="img/product/jiantou.png" />
                            <span>NEXT</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_architectureTwo">
                    <header>Architectur of Family TV IPTV System</header>
                    <section class="psc_architectureTwoC">
                        <img src="img/product/jiagou1.png" />
                    </section>
                    <footer class="psc_blast">
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_performanceOne">
                    <header>Program View</header>
                    <section class="psc_performanceOneC">
                        <section class="psc_performanceOneCImg">
                            <img src="img/product/performance.png" />
                        </section>
                        <div class="psc_performanceOneCTC">
                            <div class="psc_performanceOneCCRows">
                                <p><span></span></p>
                                <p>Analyses basic information of subscribers, and provides corresponding report.</p>
                            </div>
                            <div class="psc_performanceOneCCRows">
                                <p><span></span></p>
                                <p>Analyses program resources, user demand info, and provides corresponding report.</p>
                            </div>
                            <div class="psc_performanceOneCCRows">
                                <p><span></span></p>
                                <p>Analyses marketing, and provides corresponding report.</p>
                            </div>
                        </div>
                    </section>
                    <footer class="psc_bnext">
                        <div class="psc_bnextbutton">
                            <img src="img/product/jiantou.png" />
                            <span>NEXT</span>
                        </div>
                    </footer>
                </div>
                <div class="psc_performanceTwo">
                    <header>Comparison Test</header>
                    <section class="psc_performanceTwoC">
                        <div class="psc_performanceTwoCT">
                            <div class="psc_performanceTwoCTTotal">
                                <div class="psc_performanceTwoCTL">
                                    <img src="img/product/dian.png"/>
                                </div>
                                <div class="psc_performanceTwoCTR">
                                    <p>During the visit, the delay is reduced by 5 times, and the availability of resources increased to more than 99.5%.</p>
                                </div>

                            </div>
                        </div>
                        <div class="psc_performanceTwoCB">
                            <div class="psc_performanceTwoCBL">
                                <img src="img/product/gongneng4_1.png" />
                            </div>
                            <div class="psc_performanceTwoCBR">
                                <img src="img/product/gongneng4_2.png" />
                            </div>
                        </div>
                    </section>
                    <footer class="psc_blast">
                        <div class="psc_blastbutton">
                            <img src="img/product/jiantou2.png" />
                            <span>LAST</span>
                        </div>
                    </footer>
                </div>

            </div>
            <div class="ps_PageCenter">
                <input type="button" value="1" class="ps_PageN" />/
                <input type="button" value="3" class="ps_PageNTotal" />
            </div>

        </div>
    </div>
    <footer class="section fp-auto-height" id="myfooter">
        <div class="wrapper">
            <img src="img/footer/footer_02.png" class="footertotal" />
        </div>
    </footer>
</div>
<script type="text/javascript" src="js/less.js"></script>
<script type="text/javascript" src="js/product.js"></script>
<script type="text/javascript">

    /*fullPage应用-----------------------*/
    $(function(){
        $("#fullpage").fullpage({
            "verticalCentered":true,
            "css3":true,
            "sectionsColor":["",""],//背景色#5690cf
            anchors:["",""],//锚
            "navigation":false,//是否有小点
            "navigationPosition":"right",//小点的位置
            /*"navigationTooltips":["test1","test2","test3","test4"],//右边小点hover的提示信息*/
            "$navHeight":96
        });
    });
</script>
</body>
</html>