/*transition*/
/*transform==============*/
/*css*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000323}}
* {
  font-size: 1.02em;
}
/*keyframes===================*/
/*右边小导航*/
/*mine=====================================*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000328}}
#fp-nav ul li {
  width: 0;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000329}}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  width: 0;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000331}}
#fp-nav ul li a,
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 0;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000333}}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 0;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000334}}
#fp-nav ul li a.active,
#fp-nav ul li :hover a.active {
  width: 0;
  height: 0;
  border-width: 0;
}
/*common============$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000338}}
div[class$="content"] {
  position: relative;
  width: 90%;
  margin-left: 5%;
  /*//border:1px solid red;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000341}}
#nav {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000342}}
header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  font-size: 25px;
  text-align: center;
  color: #484848;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000344}}
header h1 {
  font-size: inherit;
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000345}}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  color: #516f7d;
}
/*.third_header,.five_header,.seven_header{text-align:center;}*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000349}}
[class$="line"] div {
  background: #5e808f;
  position: absolute;
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000350}}
.section {
  overflow: hidden;
  text-align: center;
}
/*导航======*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000354}}
#nav {
  text-align: left;
  width: 100%;
  position: relative;
  height: 8.54%;
  color: #484848;
  background: #5690cf;
}
.translateButton{position:absolute;left:5%;/*width:8%;*/height:30%;line-height:1.4;
  border:1px solid black;color:white;font-size:14px;top:34.63%;text-align:center;cursor:pointer;}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000356}}
.ul_before {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.05s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.05s;
  -o-transition-timing-function: ease-in;
  -o-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.05s;
  -moz-transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 0.05s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.05s;
  -ms-transition-timing-function: ease-in;
  -ms-transition-delay: 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000357}}
.ul_active {
  opacity: 0.9;
  z-index: 10;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.05s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.05s;
  -o-transition-timing-function: ease-in;
  -o-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.05s;
  -moz-transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 0.05s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.05s;
  -ms-transition-timing-function: ease-in;
  -ms-transition-delay: 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000358}}
#nav ul {
  position: relative;
  width: 100%;
  background: #000;
  height: 1170.73%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000360}}
#nav li {
  color: #fff;
  width: 75.3%;
  height: 13%;
  margin-left: 12.36%;
  font-size: 80%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000362}}
#nav li:first-of-type {
  margin-top: 15%;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000364}}
#nav li:nth-of-type(3) {
  color: #C0FFF6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000365}}
/*#nav li:last-of-type {
  display: none;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000366}}
#nav li img {
  height: 15px;
  width: 3px;
  margin-top: -1px;
  margin-right: 5px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000367}}
#nav li a:hover {
  color: #C0FFF6;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in;
  -o-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in;
  -ms-transition-delay: 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000369}}
.nav_topTotal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid #434343;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000371}}
.nav_topTotal_before {
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000372}}
.nav_topTotal_active {
  z-index: 11;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000373}}
.backclick {
  width: 11.94%;
  height: 100%;
  z-index: 11;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000375}}
.page1_back {
  position: absolute;
  bottom: 30.63%;
  z-index: -1;
  width: 20.4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000376}}
.page1_back_before {
  opacity: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000377}}
.page1_back_active {
  z-index: 11;
  opacity: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0.2s;
  -o-transition-property: all;
  -o-transition-duration: 0s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0.2s;
  -moz-transition-property: all;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0.2s;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
  -ms-transition-property: all;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000378}}
.inco {
  width: 28px;
  position: absolute;
  top: 34.63%;
  right: 6.2%;
  z-index: 3;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0.0001s;
  -o-transition-property: all;
  -o-transition-duration: 0s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0.0001s;
  -moz-transition-property: all;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0.0001s;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0.0001s;
  -ms-transition-property: all;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0.0001s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000380}}
.inco_active {
  opacity: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0s;
}
/*content---img*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000384}}
.page1-imgtotal img {
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000385}}
.page1_font {
  margin-left: 5%;
  margin-top: 30px;
  width: 79px;
  z-index: 5;
  position: relative;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000387}}
.page1_bgtotal {
  left: -81.5%;
  top: -58%;
  width: 256.9%;
  z-index: 0;
}
/*.inco{width:28px;position:absolute;top:65%;right:5%;}
//.inco_before{z-index:3;opacity:1;.transition(all,0s,linear,.2s);}
.inco_active{opacity:0;.transition(all,.2s,linear);}*/
/*.page1_back_before{opacity:0;.transition(all,.2s,linear);}
.page1_back_active{z-index:11;opacity:1;.transition(all,0s,linear,.2s);}*/
/*contact_page1*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000396}}
.contact_map {
  width: 120%;
  left: -9.5%;
  top: 18%;
  position: absolute;
  z-index: 5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000397}}
.contact_mappoint {
  width: 82.5%;
  top: 29.4%;
  left: 9.1%;
  position: absolute;
  z-index: 6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\0000399}}
.contact_code {
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003100}}
#contact_text {
  right: 19.4%;
  bottom: 100px;
  position: absolute;
  text-align: center;
  z-index: 5;
  color: white;
  font-size: 0.9em;
  font-family: "微软雅黑";
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003102}}
#contact_text p {
  font-family: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003103}}
#contact_text p:nth-of-type(1),
#contact_text p:nth-of-type(2) {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003105}}
#contact_text p:nth-of-type(3) {
  margin-bottom: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003106}}
#contact_text p:nth-of-type(4) {
  line-height: 1.1em;
  font-size: 0.9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003107}}
#contact_text span {
  color: #c0fff6;
  margin-right: 2px;
  text-align: left;
  display: inline-block;
}
/*page_footer*/
/*footer*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/demo\/client\/css\/contactsm\.less}line{font-family:\00003113}}
.footertotal {
  width: 100%;
  display: block;
  /*position:absolute;bottom:0;left:0;z-index:-1;*/
}
/*.footer_text{font-family:"微软雅黑";text-align:center;color:white;}
.footer_text p{font-family:inherit;}
.footer_text p:nth-of-type(1){font-weight:bold;font-size:30px;}
.footer_text p:nth-of-type(2){font-size:12px;}*/
