@import '../common';
.g-timeSetting{/*1646*/
  width:100%;padding:20/16rem 32/1646*100%;.box-sizing();
  .g-timeHeader{
    button{}
    .goback{}
    .blueButton{}
  }
  .g-timeSection{/*1582*/
    width:100%;
    header{.width(100,1582);.height(30);margin-bottom:20/16rem;font-size:14/16rem;color:#fff;background:@backgroundBlue;.box-shadow(0 4/16rem 6/16rem 0 rgba(0,0,0,.2));text-align:center;.border-bottom-right-radius(15/16rem);.border-top-right-radius(15/16rem);}
    .g-timeContent_one{width:100%;
      .g-contentOne_header{margin:40/16rem 0 20/16rem;}
      .g-contentOne_section{.width(1055,1582);margin-bottom:30/16rem;
        .prompt{font-size:14/16rem;color:#999;.marginTop(18);}
      }
    }
    .g-timeContent_two{/*1582*/
      width:100%;
      .g-courseChoose{width:100%;margin-bottom:20/16rem;font-size:14/16rem;
        .courseChoose-row{/*150*/
          .width(150,1582);float:left;color:#666;
          span.g-RowCourse{}
          span.g-rowTimer{margin-right:8/150*100%;}
          input{.width(57,150);text-align:center;padding:8/16rem 0;border:1px solid @intervalColor;.border-radius(4/16rem);
            &:focus{outline:1px;}
          }
        }
        .createTimer{float:left;}
      }
    }
  }
}







